@import "colors.css";

* {
  font-family: "FiraCode Nerd Font";
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 0px;
  min-height: 0;
}

window#waybar {
  background-color: @background;
  border-bottom: 2px solid @border;
}

#window,
#hardware,
#internet,
#workspaces,
.modules-right > widget > label {
  background-color: transparent;
  color: @text;
  padding: 0 10px;
  margin: 0;
}

tooltip {
  border-radius: 8px;
  background-color: @background;
  border: 1px solid @border;
  padding: 12px;
}

tooltip label {
  color: @text;
}

#workspaces {
  margin: 0;
  padding: 0;
}

#workspaces button {
  padding: 0 6px;
  margin: 4px 2px;
  font-size: 14px;
  border-radius: 4px;
  color: @alttext;
  background-color: @altbackground;
  transition: all 0.2s ease-in-out;
  opacity: 0.6;
}

#workspaces button.focused,
#workspaces button.active {
  color: @text;
  background: @selbackground;
  min-width: 30px;
  opacity: 1;
}

#workspaces button.urgent {
  color: @text;
  background: @urgent;
  min-width: 30px;
  opacity: 1;
}

#workspaces button:hover {
  color: @text;
  background: @altbackground;
  opacity: 0.9;
}

window#waybar.empty #window {
  background-color: transparent;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#internet #custom-internet,
#internet #network {
  background-color: transparent;
  margin: 0 4px;
  padding: 0;
}

#internet #custom-internet.connected {
  min-width: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
}

#internet #custom-internet.disconnected {
  color: @warning;
}

#custom-power {
  background-color: transparent;
  color: @alttext;
  margin: 0 12px 0 4px;
  padding: 0;
  font-size: 20px;
}

#custom-power:hover {
  color: @error;
}

#disk,
#memory,
#cpu {
  background-color: transparent;
  margin: 0 4px;
  padding: 0;
}

#pulseaudio.muted {
  color: @alttext;
}

#bluetooth {
  font-size: 14px;
}

#bluetooth.connected {
  color: @active;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#battery.charging,
#battery.plugged {
  color: @active;
}

@keyframes blink {
  to {
    background-color: @background;
    color: @text;
  }
}

#battery.critical:not(.charging) {
  background-color: @error;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  margin: 0 6px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#clock {
  color: @text;
  margin: 0 10px;
}

#pulseaudio {
  margin: 0 6px;
}

#network {
  margin: 0 6px;
}

#network.disconnected {
  color: @alttext;
}

#battery {
  margin: 0 6px;
}

#clock:hover,
#pulseaudio:hover,
#battery:hover,
#network:hover,
#memory:hover,
#cpu:hover,
#disk:hover {
  color: @active;
}
